:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: var(--dark-color);
}

#about, #reservations, #book-now {
    background-color: var(--light-color);
}

#menu {
    background-color: var(--light-color);
}

#contact {
    background-color: var(--light-color);
}

#testimonials {
    background-color: var(--light-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: var(--dark-color);
}

.testimonial-card {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#testimonials h2 {
    margin-bottom: 40px; /* Add margin-bottom to create vertical space */
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.testimonial-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -65px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: var(--light-color);
    border: 5px solid white;
}

.rating {
    font-size: 1.2rem;
    color: #ffdd00;
}
