:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: var(--dark-color);
}

#home {
    background-color: var(--primary-color);
}

#about {
    background-color: var(--light-color);
}

#menu {
    background-color: var(--light-color);
}

#reservations {
    background-color: var(--light-color);
}

#contact {
    background-color: var(--light-color);
}

#testimonials {
    background-color: var(--light-color);
}

footer {
    background-color: var(--dark-color);
}
